.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 40px 200px 40px;
    grid-gap: 3px;
}

.menu{
    grid-column: 12/12;
    grid-row: 1/-1;
}

.content{
    grid-column: 1/12;
}

.header{
    grid-column: 1/12;
    /*
    grid-column-start: 1;
    grid-column-end: 3;
    */
}

.footer{
    grid-column: 1/12;
}